#overlayWrapper {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 100px;
	left: -500px;
}

#overlayBg {
	width: 200px;
	height: 150px;
	opacity: 0.8;
	background: #CCC;
}

#overlayElements {
	position: relative;
	top: -150px;
	left: 10px;
}
